*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.a{
    border: solid 1px red;
    width: 720px;
}
body{
    /*background-image: url("../../assets/fondo.svg");*/
    background-image: url("../assets/fondoReal3.png");
    width: 100%;
    background-size: 720px;
    background-repeat: no-repeat;

}
